{% extends 'SmartkillWebBundle::layout.html.twig' %}
{% import 'SmartkillWebBundle:Profile:macros.html.twig' as macros %}

{% block title %}SmartKill - Twój profil{% endblock %}

{% block content %}

	{{ macros.menu('index') }}
	
	<div class="block">
		<h2>Przegląd twojego profilu</h2>
		
		
	</div>

{% endblock %}
