
.map-canvas {
	margin: 0 0 20px 0;
	border: solid 1px #E2E2E2;
	.box-shadow(1px 1px 2px #ddd);
}

.users {
	.well();
	.well-small();
	.clearfix();
	min-height: 105px;
}

.user {
	position: relative;
	float: left; width: 75px;
	margin: 0 10px 0 0; padding: 3px;
	text-align: center;
	background: #fff;
	.border-radius(5px);
	.box-shadow(0 0 3px #999);
	
	a {
		display: block;
	}
	
	img {
		display: block;
		margin: 0 0 3px 0;
		.border-radius(5px);
	}
	
	&-points {
		dispaly: block;
		position: absolute; top: 5px; left: 5px;
		padding: 0 5px;
		background: #fff; background: rgba(255,255,255,0.8);
		color: #000; font-size: @baseFontSize * 0.9;
		.border-radius(3px);
	}
}

.table-user {
	
	img {
		vertical-align: middle;
		margin: 0 10px 0 0;
		.border-radius(3px);
	}
}
