{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% block title %}SmartKill - Zarejestruj się{% endblock %}

{% block content %}

	<div class="block">
		<h2>Zarejestruj się</h2>
		
		<div class="alert alert-success alert-block">
			Zostałeś pomyślnie zarejestrowany. <br />
			Teraz możesz się zalogować korzystając z formualrza w topie.
		</div>
	</div>

{% endblock %}
