{% extends 'SmartkillWebBundle::layout.html.twig' %}

{% block title %}SmartKill - Utwórz mecz{% endblock %}

{% block content %}

	<div class="block">
		<h2>Utwórz mecz</h2>
		
		<div class="alert alert-success alert-block">
			Mecz został pomyślnie utworzony.
		</div>
	</div>

{% endblock %}
